{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/contribute/tasks/taskview-base.html" %}

{% block page_title %}{{ _('Tweet to @StartMozilla and see how your technical skills can contribute!') }}{% endblock %}

{% block taskview_title %}{{ _('Tweet to @StartMozilla and see how your technical skills can contribute!') }}{% endblock %}
{% block taskview_lead %}{{ _('There are so many ways to get involved with Mozilla and support the browser. Tweet Firefox and learn more about the browser, and how you can pitch in!') }}{% endblock %}

{% block task_content %}
  <ol class="task-steps single">
    <li id="step_one" class="one">
      <header>
        <h3>{{ _('Tweet This') }}</h3>
      </header>
      <div class="step-content">
        <p><a href="https://twitter.com/intent/tweet?text=Firefox+is+available+everywhere!+Now+you+can+get+it+for+desktop%2c+iOS+or+Android!&amp;url=https://www.mozilla.org/firefox/products&amp;hashtags=MozParticipate">{{ _('Tell your friends about Firefox on Twitter') }}</a></p>
      </div>
    </li>
  </ol>
{% endblock %}

{% block thank_you_msg %}
  {{ _('Thanks for contacting us!') }}
{% endblock %}
